.footer-area{
    background-color: #363636;
}
.link a{
    color: black;
    display: block;
    margin-bottom: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: left;
    /* text-decoration: none;
    display: block;
    color: white; */
}
.link h2{
    color: white;
}